$size-map: (
  small: 20px,
  medium: 24px,
  large: 28px,
  x-large: 32px,
);

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;

  border: 1px solid var(--color-border);
  background-color: var(--color-background);
  border-radius: 4px;

  &--active,
  &:hover {
    background-color: var(--color-background-tertiary);
  }

  &:active {
    background: var(--color-background-secondary);
  }

  @each $size, $size-value in $size-map {
    &--#{$size} {
      width: $size-value;
      height: $size-value;
    }
  }

  &:focus-visible {
    outline: 1px solid var(--color-primary);
    z-index: 1;
  }
}