.plugin-section {
  display: flex;
  flex-direction: column;
  width: 100%;

  &:not(:first-child) {
    border-top: 1px solid var(--color-border);
  }

  &:not(&--has-title) {
    padding-top: 8px;
  }

  &__title {
    height: 32px;
    padding: 0 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 12px;
    font-weight: 600;

    user-select: none;

    &--has-actions {
      padding-right: 6px;
    }
  }
}

.content {
  overflow: auto;
  padding-bottom: 8px;

  scrollbar-width: thin;
  scrollbar-color: var(--color-border) var(--color-background-secondary);
}