.field {
  display: flex;
  width: 100%;
  gap: 4px;

  &--horizontal {
    flex-direction: row;
    align-items: center;

    .field__label {
      margin-right: 8px;
      width: 60px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &--vertical {
    flex-direction: column;

    .field__label {
      margin-bottom: 4px;
    }
  }
}

.field__label {
  flex-shrink: 0;
  font-size: var(--font-size-small);
  color: var(--color-text-secondary);
}

.field__content {
  flex-grow: 1;
  width: 100%;
}